<nav>
    <ul>
        <li><a href="/de/about/">Über</a></li>
        <li><a href="/de/research/">Forschung</a></li>
        <li><a href="/de/publications/">Veröffentlichungen</a></li>
        <li><a href="/de/software/">Software</a></li>
        <li><a href="/de/outreach/">Öffentlichkeitsarbeit</a></li>
        <li><a href="/de/cv/">Vita</a></li>
        <li><a href="/de/sustainability/">Nachhaltigkeit</a></li>
        <li><a href={{ page.url | replace: "/de/", "/en/" }}>en|de</a></li>
    </ul>
</nav>
