---
layout: default
title: Felix Bosco

header-image: assets/img/img4.jpg
---
<h1>Welcome!</h1>
<p>
	I am a PhD student at the <a href="http://www.mpia.de" target="_blank">Max Planck Institute for Astronomy (MPIA)</a> in Heidelberg
	and a fellow of the International Max Planck Research School on Astronomy and Cosmic Physics at the University of Heidelberg (<a href="http://www.imprs-hd.mpg.de" target="_blank">IMPRS</a>).
</p>
<p>
	Under the supervision of Dr. <a href="mailto:pott@mpia.de">Jörg-Uwe Pott</a>, I am studying novel methods for approaching the resolution limits of current 8m-class telescopes.
	In my first project, we analyze the benefit of applying image reconstruction algorithms on imaging data, obtained with partial AO correction, to reach the diffraction limit of the telescope
	and in the second project we work on high-precision spectro-astrometric measurements of broad emission line regions (BLR) of active galactic nuclei (AGNs).
	For details you may take a look at the <a href="#research">RESEARCH</a> section.
</p>
<p>
	Besides the research, I am volunteering in the public outreach activities of the <a href="http://www.haus-der-astronomie.de" target="_blank">House of Astronomy (HdA)</a> as an outreach fellow.
	In this position, I guide visiting groups to the HdA planetarium and the facilities at MPIA campus on mount Königstuhl. For more outreach activities, check out the <a href="#outreach">OUTREACH</a> section.
</p>


<!--
<h1>News</h1>
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
-->

<!-- {% for post in site.posts %}
  <hr>
  {{ post.title }}
{% endfor %} -->
<!--<ul>-->
<!--  {% for post in site.posts %}-->
<!--    <hr>-->
<!--    <li>-->
<!--      <a href="{{ post.url }}">{{ post.title }}</a>-->
<!--      {{ post.content }}-->
<!--    </li>-->
<!--  {% endfor %}-->
<!--</ul>-->
