---
layout: de/default
title: Felix Bosco
permalink: de/about/

header-image: /assets/img/img4.jpg
---

<div class="profile">
	<img src="/assets/img/profile.jpg" alt="">
</div>

<p>
	Ich bin Astrophysiker und arbeite als Postdoktorand in der
	<a href="https://www2.mpia-hd.mpg.de/homes/jpott/" target="_blank">JuHeart-Gruppe (Jörg-Uwe Pott)</a> am
	<a href="http://www.mpia.de" target="_blank">Max-Planck-Institut für Astronomie (MPIA)</a> in Heidelberg. Zuvor war
	ich Stipendiat der International Max Planck Research School on Astronomy and Cosmic Physics an der Universität
	Heidelberg (<a href="http://www.imprs-hd.mpg.de" target="_blank">IMPRS</a>).
</p>
<p>
	Ich untersuche neuartige Methoden, um die Auflösungsgrenzen der aktuellen 8m-Teleskope auszuschöpfen. Im
	<a href="../research/#SOWAT">SOWAT</a>-Projekt analysieren wir den Nutzen der Anwendung von
	Bildrekonstruktionsalgorithmen auf Abbildungsdaten, die mit partieller AO-Korrektur gewonnen wurden, um die
	Beugungsgrenze des Teleskops zu erreichen, und im <a href="../research/#SPAM">SPAM</a>-Projekt arbeiten wir an
	hochpräzisen spektroastrometrischen Messungen von breiten Emissionslinienregionen (BLR) aktiver galaktischer Kerne
	(AGNs). Details dazu finden Sie in der Rubrik <a href="../research">RESEARCH</a>.
</p>
<p>
	Neben der Forschung engagiere ich mich ehrenamtlich im Rahmen der Öffentlichkeitsarbeit des
	<a href="http://www.haus-der-astronomie.de" target="_blank">Hauses der Astronomie (HdA)</a> als Outreach Fellow.
	In dieser Position führe ich Besuchergruppen durch das HdA-Planetarium und die Einrichtungen auf dem MPIA-Campus auf
	dem Königstuhl. Weitere Outreach-Aktivitäten finden Sie in der Rubrik <a href="#outreach">OUTREACH</a>.
</p>


<!--
<h1>News</h1>
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
-->

<!-- {% for post in site.posts %}
  <hr>
  {{ post.title }}
{% endfor %} -->
<!--<ul>-->
<!--  {% for post in site.posts %}-->
<!--    <hr>-->
<!--    <li>-->
<!--      <a href="{{ post.url }}">{{ post.title }}</a>-->
<!--      {{ post.content }}-->
<!--    </li>-->
<!--  {% endfor %}-->
<!--</ul>-->
