/* ---------- general design: body ---------- */
html, body {
  margin: 0;
}

/* ---------- general design: header ---------- */
header {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;

    width: 100;
    padding: 0px 0%;

    background-color: #333;
}

/* ---------- general design: nav ---------- */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    padding: 0 10%;
}
nav ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #111;
}

.header-title {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  width: 100%;
  position: relative;

  color: white;
  font-size: 24pt;
}
.header-title img {
  width: 100%;
  max-height: 200px;
}
.header-title a {
  padding: 0 10%;
  position: absolute;
  bottom: 10px;
  text-decoration: none;
  color: white;
}


/* ---------- general design: main ---------- */
main {
    width: 70%;
    margin: auto;
    padding: 25px;

    color: #333;
}

/* ---------- responsive design ---------- */
@media (max-width: 1200px) {
  header {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  header {
    padding: 0px 25px;
  }

  main {
    width: 100%;
    margin: 0;
  }
}

/* ---------- individual design: table ---------- */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tr:nth-child(odd) {
  background-color: #eeeeee;
}
.table td {
  padding: 12px 24px 12px 24px;
  border: 1px solid #eeeeee;
  text-align: left;
}
